.header {
  .big-slider {
    height: 770px;
  }
  .big-slider-body {
    top: 193px;
  }
}

@media only screen and (max-width: $mobile) {
  .header {
    .big-slider {
      height: 1000px;
    }
  }
}
